@font-face {
  font-family: "iconfont"; /* Project id 3056045 */
  src: url('//at.alicdn.com/t/c/font_3056045_7kduit111e.woff2?t=1710135071683') format('woff2'),
       url('//at.alicdn.com/t/c/font_3056045_7kduit111e.woff?t=1710135071683') format('woff'),
       url('//at.alicdn.com/t/c/font_3056045_7kduit111e.ttf?t=1710135071683') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yishou:before {
  content: "\e7d4";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-zhuye1:before {
  content: "\e62b";
}

.icon-shandian:before {
  content: "\e8c5";
}

.icon-genganquan:before {
  content: "\e635";
}

.icon-zhuce-mianshuru:before {
  content: "\e633";
}

.icon-gengkuai_huaban:before {
  content: "\e632";
}

.icon-xinyongkayinhangka:before {
  content: "\e998";
}

.icon-zhifubaozhifu:before {
  content: "\e634";
}

.icon-wechat:before {
  content: "\e623";
}

.icon-youhuiquan:before {
  content: "\e8c0";
}

.icon-huiyuan:before {
  content: "\e8a6";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-huidaodingbu:before {
  content: "\e88d";
}
