@primary-color: #990ff5;

@primary-light-color: rgba(153, 15, 245, 0.2);

@danger-color: #FF3B2F;

@danger-light-color: #ffefed;

@warning-color: #FFA300;

@light-gray-color: #e3e4e5;

@dark-gray-color: #7a6e6e;

@bg-gray-color: #f4f4f4;

@border-line-color: #eee;

@gray-font-color: #999;

@disabled-font-color: #ddd;

@orange-color: #ff8533;

@edit-btn-color: #c97;

@focus-color: #e1251b;

@page-s-width: 990px;

.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #edf1f5;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: white;
}