.carousel-picture-comp {
  position: relative;
  overflow: hidden;
  height: 100%;
  .carousel-box {
    width: 100%;
    height: 100%;
    // overflow: auto;
    overflow: hidden;
    .carousel-ul {
      height: 100%;
      transform: translate3d(0, 0, 0);
      > li {
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .toggle-picture {
      > div {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0.15);
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
        i {
          color: #fff;
          font-size: 12px;
        }
        &.pre {
          left: 0;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          i {
            transform: rotate(180deg);
            margin-right: 6px;
          }
        }
        &.next {
          right: 0;
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
          i {
            margin-left: 5px;
          }
        }
      }
    }
    .dot-ul {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      > li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin-right: 8px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4);
        &:last-child {
          margin-right: 0;
        }
        &.active {
          background-color: #fff;
        }
      }
    }
  }
}
